@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020202;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: #020202;
  --color-accent: #00FF41;
}

body {
  background: #020202;
  color: white;
  -webkit-font-smoothing: antialiased;
}
